* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #010001;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    padding-top: 53px;
    padding-bottom: 131px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: normal;
    font-style: normal;
}

.header {
    max-width: 1230px;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__nav {
    display: flex;
    align-items: center;
}

.main__nav-link {
    font-size: 12px;
    line-height: 14px;
}

.main__nav-link:not(:last-child) {
    margin-right: 20px;
}

.seconday__nav {
    display: flex;
    align-items: center;
}

.seconday__nav-link {
    font-size: 12px;
    line-height: 14px;
    color: #808080;
}

.seconday__nav-link:not(:last-child) {
    margin-right: 20px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 32px;
}

.title {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 26px;
}

.description {
    max-width: 268px;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: lowercase;
}

.description::after {
    content: '';
    width: 1px;
    display: block;
    height: 59px;
    background: #FFFFFF;
    margin: auto;
    margin-top: 26px;
}

.video {
    max-width: 1230px;
    width: 85%;
    margin: auto;
    height: 750px;
}

.features {
    max-width: 1230px;
    width: 85%;
    margin: auto;
    padding: 50px 0;
    position: relative;
}

.features-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.table {
    margin-bottom: 218px;
}

.table td {
    width: 230px;
    padding: 10px 0;
    font-size: 18px;
    line-height: 32px;
}

.rocket {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 99;
    width: auto;
    height: 1700px;
    object-fit: cover;
}

.features-description {
    font-size: 16px;
    line-height: 29px;
    max-width: 490px;
}