* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #010001;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    padding-top: 53px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: normal;
    font-style: normal;
}

.header {
    max-width: 1230px;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__nav {
    display: flex;
    align-items: center;
}

.main__nav-link {
    font-size: 12px;
    line-height: 14px;
}

.main__nav-link:not(:last-child) {
    margin-right: 20px;
}

.seconday__nav {
    display: flex;
    align-items: center;
}

.seconday__nav-link {
    font-size: 12px;
    line-height: 14px;
    color: #808080;
}

.seconday__nav-link:not(:last-child) {
    margin-right: 20px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 32px;
}

.title {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 26px;
    text-align: center;
}

.description {
    max-width: 268px;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: lowercase;
}

.description::after {
    content: '';
    width: 1px;
    display: block;
    height: 59px;
    background: #FFFFFF;
    margin: auto;
    margin-top: 26px;
}

.video {
    max-width: 1230px;
    width: 85%;
    margin: auto;
    height: 750px;
}

.features {
    max-width: 1230px;
    width: 85%;
    margin: auto;
    padding: 50px 0;
    position: relative;
}

.features-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.table {
    margin-bottom: 218px;
}

.table td {
    width: 230px;
    padding: 10px 0;
    font-size: 18px;
    line-height: 32px;
}

.rocket {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 99;
    width: auto;
    height: 1700px;
    object-fit: cover;
}

.features-description {
    font-size: 16px;
    line-height: 29px;
    max-width: 490px;
}

.footer {
    padding: 130px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-nav {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.social-link {
    margin: 28px 20px;
    font-size: 18px;
    line-height: 21px;
}

.footer-text, .footer-text a {
    font-size: 18px;
    line-height: 21px;
    color: #808080;
    text-align: center;
}

.footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    min-width: 260px;
    height: 60px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    background: transparent;

    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 960px) {
    .rocket {
        max-width: 230px;
        height: auto;
        top: 200px;
    }
}

@media (max-width: 768px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .header, .features {
        width: 95%;
    } 

    .main__nav, .seconday__nav {
        margin-top: 20px;
    }

    .rocket {
        max-width: 180px;
    }

    .video {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .main {
        padding-top: 70px;
    }

    .title {
        font-size: 52px;
    }
    .rocket {
        position: static;
        margin: auto;
        margin-bottom: 30px;
    }

    .table {
        margin-bottom: 0;
    }

    .table td {
        font-size: 14px;
        max-width: 150px;
    }

    .footer {
        padding: 70px 0;
    }

    .footer-nav {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 28px;
        margin-bottom: 18px;
    }

    .social-link {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .features {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 330px) {
    
}